body {
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: white;
    }
}

.image-right-float {
    float: right;
    margin-left: 1em;
    text-indent: 0 !important
}

.image-left-float {
    float: left;
    margin-right: 1em;
    text-indent: 0 !important
}