@{
    ViewData["Title"] = "设置";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <div>
        <noscript>
            <span style="color: red">
                <strong>JavaScript 不可用，因此对设置进行的任何修改将不起作用。</strong>
            </span>
            <br />
            <br />
        </noscript>
        <div>
            <span>页面颜色主题:</span>
            <select id="themeSelect" title="页面颜色主题">
                <option value="null">自动选择</option>
                <option value="light">亮色</option>
                <option value="dark">暗色</option>
            </select>
        </div>
        <br />
        <div>
            <input title="选择是否让页面居中布局" id="layoutCheckbox" type="checkbox" />
            <label for="layoutCheckbox">页面居中布局</label>
        </div>
        <br />
        <div>
            <button id="enable-notification-button" type="button" style="display: none">启用更新通知推送</button>
            <button id="disable-notification-button" type="button" style="display: none">取消更新通知推送</button>
        </div>
    </div>
</div>

<script src="/js/settings.js"></script>
<script src="/js/notification-settings.js"></script>