@using AnEoT.Vintage.ViewModels.Home
@model IndexViewModel

@{
    ViewData["Title"] = "主页";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <ul>
        @foreach (var item in Model.HomePageInfo.Projects)
        {
            <li style="margin:0 0 10px 0">
                @item.Name
                <br/>
                <a href="@item.Link">@item.Desc</a>
            </li>
        }
    </ul>
</div>
