@using AnEoT.Vintage.ViewModels.Home
@model IndexViewModel

@{
    ViewData["Title"] = "主页";
}

<div>
    <ul>
        @foreach (var item in Model.HomePageInfo.Projects)
        {
            <li style="margin:0 0 10px 0">
                @item.Name
                <br/>
                @if (new Uri(item.Link, UriKind.RelativeOrAbsolute).IsAbsoluteUri)
                {
                    <a href="@item.Link">@item.Desc</a>
                }
                else
                {
                    <a href="~/@item.Link">@item.Desc</a>
                }
            </li>
        }
    </ul>
</div>
