<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | 回归线简易版</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
    <link href="~/css/palette.css" rel="stylesheet" type="text/css" />

    <!-- 反正IE也不支持WOFF2字体，不如不加载 -->
    <!--[if !IE]> -->
    <link href="https://unpkg.com/lxgw-wenkai-screen-webfont@1.6.0/style.css" rel="stylesheet" type="text/css" />
    <!-- <![endif]-->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    <img src="~/images/logo.jpg" alt="TCA" width="15%" style="margin-right:5px"/>回归线简易版
                </div>
                
                <div>
                    <a asp-controller="home" asp-action="Index" style="margin-right:5px">主页</a>
                    <a asp-controller="posts" asp-action="Index" style="margin-right:5px">期刊列表</a>
                    <a href="~/intro" style="margin-right:5px">关于</a>
                    <a href="https://aneot.terrach.net">查看《回归线》原网站</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr style="border:inset!important" />
        <div>
            本站内容是游戏爱好者根据《明日方舟》二次创作而成，与鹰角网络官方无关。
            <br/>
            本站使用的游戏图片、文本原文及相关设定/世界观版权属于上海鹰角网络科技有限公司。
            <br/>
            除非另有声明，作品其他内容不得以<b>任何形式转载、摘编。</b>
            <br/>
            本刊所有内容<b>不得</b>用于人工智能生成模型训练，<b>包括但不限于个人、科研、教学和商业化应用。</b>
            <br/>
            完整协议请查看 <a href="~/statement"> 《回归线网站用户协议》</a>，使用本站即视为同意本协议。
            <br/>
        </div>
        <br/>
        <div>泰拉创作者联合会保留所有权利 | Copyright © 2022-2023 TCA. All rights reserved.</div>
    </footer>
</body>
</html>
