@using AnEoT.Vintage.Helpers;
@inject IWebHostEnvironment env

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="application-name" content="回归线简易版" />
    <meta name="msapplication-tooltip" content="在线阅读《回归线》期刊" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-navbutton-color" content="@HomePageHelper.GetHomePageInfo(env.WebRootPath).HeroAlt" />
    <meta name="msapplication-task" content="name=打开期刊列表;action-uri=./posts/;icon-uri=./favicon.ico" />
    <meta name="msapplication-task" content="name=阅读最新一期;action-uri=./posts/@HomePageHelper.GetLatestVolume(env.WebRootPath)/;icon-uri=./favicon.ico" />
    <meta name="msapplication-task" content="name=订阅回归线 Feed 流;action-uri=./subscription.html;icon-uri=./favicon.ico" />
    <meta name="msapplication-config" content="browserconfig.xml" />

    <title>@ViewData["Title"] | 回归线简易版</title>
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="回归线简易版 Atom 源">
    <link rel="alternate" type="application/rss+xml" href="rss.xml" title="回归线简易版 RSS 源">
    <link rel="alternate" type="application/atom+xml" href="atom_full.xml" title="回归线简易版完整 Atom 源">
    <link rel="alternate" type="application/rss+xml" href="rss.xml" title="回归线简易版完整 RSS 源">

    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
    <link href="~/css/palette.css" rel="stylesheet" type="text/css" />
    <link href="~/css/fake-ads.css" rel="stylesheet" type="text/css" />

    <link href="~/css/theme/light.css" rel="stylesheet" type="text/css" id="theme-css" />
    <link href="~/css/layout/left.css" rel="stylesheet" type="text/css" id="layout-css" />

    <link href="~/favicon.svg" rel="shortcut icon" sizes="any" type="image/svg+xml" />
    <link href="~/favicon.ico" rel="shortcut icon" />
    <script src="~/js/cookies.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar-layout">
            <div>
                <div style="vertical-align:middle">
                    <img src="~/images/logo.jpg" alt="TCA" class="navbar-image" id="aneot-vintage-navbar-logo" />
                    <span>回归线简易版</span>
                </div>
                <a asp-controller="home" asp-action="Index" style="margin-right:5px">主页</a>
                <a href="~/posts/" style="margin-right:5px">期刊列表</a>
                <a href="~/intro/" style="margin-right:5px">关于</a>
                <a href="~/bulletin/" style="margin-right:5px">公告栏</a>
                <a href="~/settings/" style="margin-right:5px">设置</a>
                <br />
                <a href="https://aneot.arktca.com">前往《回归线》原网站</a>
            </div>
        </nav>
        <hr style="border-style:inset !important" />
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr style="border-style:inset !important" />
        <div class="footer-layout">
            <div>
                本站内容是游戏爱好者根据《明日方舟》二次创作而成，与鹰角网络官方无关。
                <br />
                本站使用的游戏图片、文本原文及相关设定/世界观版权属于上海鹰角网络科技有限公司。
                <br />
                除非另有声明，作品其他内容不得以<b>任何形式转载、摘编。</b>
                <br />
                本刊所有内容<b>不得</b>用于人工智能生成模型训练，<b>包括但不限于个人、科研、教学和商业化应用。</b>
                <br />
                完整协议请查看 <a href="~/statement"> 《回归线网站用户协议》</a>，使用本站即视为同意本协议。
                <br />
            </div>
            <br />
            <div>泰拉创作者联合会保留所有权利 | Copyright © 2022-2024 TCA. All rights reserved.</div>
        </div>
    </footer>
</body>
</html>
