.navbar-layout {
    margin: 0 auto;
    width: 400px;
    text-align: center
}

.footer-layout {
    margin: 0 auto;
    width: 80%;
    text-align: center
}

.content-margin {
    margin-left: 10%;
    margin-right: 10%
}

.para-indent p {
    text-indent: 2em;
}

.navbar-image {
    margin-right: 5px;
    width: 35%
}