@using AnEoT.Vintage.ViewModels.Home
@model IndexViewModel

@{
    ViewData["Title"] = "主页";
}

TO BE CONSTRUCTED
@*<ul>
    @foreach (var item in Model.Directories)
    {
        <li>
            <a href="~/aneot/posts/@item.Name" class="nav-link text-dark" asp-controller="Posts" asp-action="Index">@item.Name</a>
        </li>
    }
</ul>*@
