@{
    ViewData["Title"] = "以 PWA 应用形式使用回归线简易版";
}

<div class="content-margin">
    <h1>@ViewData["Title"]</h1>
    <div class="para-indent">
        现在，在支持的设备上，回归线简易版网站可以以 PWA 应用的形式提供，以提供更多功能。
    </div>
</div>