@{
    ViewData["Title"] = "以 PWA 应用形式使用回归线简易版";
}

<div class="content-margin">
    <h1>@ViewData["Title"]</h1>
    <div class="para-indent">
        <p>现在，在支持的设备上，本站点可以以 PWA 应用的形式提供，以提供更多功能：</p>
        <ul>
            <li>
                快速打开回归线站点
                <br />
                在安装 PWA 之后，您只需要打开本站点的 PWA 应用，即可访问本站点，再也不需要输入链接了。
            </li>
            <li>
                定期同步功能
                <br />
                在允许使用定期同步功能的浏览器上（如 Edge），本站点可以定期检查更新，并在新期刊发布时进行通知。
            </li>
        </ul>

        <p>更多功能，敬请期待！</p>
    </div>
</div>