@using AnEoT.Vintage.Models;
@using AnEoT.Vintage.ViewModels.Posts
@using Westwind.AspNetCore.Markdown;
@model IndexViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div>
    作者： Another End of Terra
</div>
<hr />
<div style="max-width:60%">
    <markdown markdown="Markdown"/>
</div>
