@using AnEoT.Vintage.Models;
@using AnEoT.Vintage.ViewModels.Posts
@using Westwind.AspNetCore.Markdown;
@model ViewViewModel

@{
    ViewData["Title"] = Model.Title;
    PostInfo postInfo = Model.PostInfo;
}

<div>
    <div>
        <span>作者： @(string.IsNullOrWhiteSpace(postInfo.Author) ? "Another End of Terra" : postInfo.Author)</span>
        <br />
        @if (DateOnly.TryParse(postInfo.Date,out DateOnly result))
        {
            <span>日期： @result</span>
            <br />
        }
        @if (postInfo.Category is not null)
        {
            <span>
                分类：@foreach (string item in postInfo.Category)
                {
                    <span style="margin: 0 auto 0 0;">@item</span>
                }
            </span>
            <br />
        }

        @if (postInfo.Tag is not null)
        {
            <span>
                标签：@foreach (string item in postInfo.Tag)
                {
                    <span style="margin: 0 auto 0 0;">@item</span>
                }
            </span>
        }
    </div>
    <hr />
</div>
<markdown markdown="Markdown"/>
