html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

</style >

.centering {
    text-align: center !important;
    text-indent: 0 !important;
}

.textkai {
    font-size: 18px;
    font-family: crimson,LXGW WenKai Screen R,serif;
}

@media print {
    .no-print {
        display: none !important;
    }
} 

.no-interact {
    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    pointer-events: none;
    user-select: none;
}

.texthide {
    color: transparent;
    font-size: 0;
    line-height: 0;
}